.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  color: #d8c4bd;
  background-color: #3d3d3d;
  padding: 0;
  height: 100vh;
  /*background: url('file:///C:/Users/20190965/Desktop/6_18/dblgroup46/templates/background_texture.jpeg');
  background-image: linear-gradient(to top, #3d3d3d , #2e2e2e );*/
}