*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container{
    width: 76%;
    height: 500px;
    margin: auto; 
    border: 5px solid black;
    overflow: hidden;   
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 275px;
    height: 500px;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: black;
    opacity: 0.8;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: black;
    opacity: 0.8;
    cursor: pointer;
}

#nextBtn svg{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: black;
    opacity: 0.8;
    cursor: pointer;
}