{% extends "base.html" %}
{% block content %}
<hmtl>


    {% block navbar_home_button %}
    {% endblock navbar_home_button %}


    <title>DBL home</title>

    <head>
      <link rel="stylesheet" href="/static/css/navbar2.css">
    </head>
    <body>

      
          <div class="w3-container" style="text-align: center; background-color: #555555; border-radius: 5px;">
          <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-variant: small-caps; font-size: 100px;">About</h1>
          </div>

          <div class="w3-container" style=" width: 100%; margin: 0; left: 0;  background-color: #3d3d3d; padding-top: 10px;">
            <hr>
            <div class="selfie-container">
            
            
            <p><img src="/static/Selfies/Website_Louise.jpeg" class="selfie-L" alt="Louise" style="height: 95%; margin-left: auto; border-radius: 10px 0px 0px 10px; float: left;">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 50px;">Louise</h1>
            Volgens De Jonge heeft het kabinet hard gewerkt aan het wetsvoorstel. Het is voorgelegd aan een groot aantal organisaties die adviezen hebben uitgebracht. Het kabinet heeft daarmee de conceptversie „op belangrijke punten kunnen aanscherpen en verbeteren”, aldus de Jonge, mede namens zijn collega’s Ferd Grapperhaus (Justitie) en Kajsa Ollongren (Binnenlandse Zaken).

            De Jonge schrijft dat de Raad van State deze week advies uitbrengt over de Tijdelijke wet Covid-19, zoals die officieel heet. Volgens een woordvoerder van de Raad is dat advies woensdag al vastgesteld en ligt dat nu bij het ministerie.
            
            Het voorstel zal zo spoedig mogelijk aan het parlement worden aangeboden, aldus De Jonge. Beide Kamers bepalen zelf hun agenda. Het zomerreces begint over twee weken.            
            </p>
            
          </div>
          <hr>
        </div>
          <div class="w3-container" style="padding: 10px 10px; width: 100%; margin:0 ; left: 0; background-color: #3d3d3d;">
          <div class="selfie-container">
            
            <p class="about-description"><img src="/static/Selfies/Website_Daan.jpeg" class="selfie-L" alt="Daan" style="height: 95%; margin-right: auto; border-radius: 10px; float: right;">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 50px;">Daan</h1>
            Volgens De Jonge heeft het kabinet hard gewerkt aan het wetsvoorstel. Het is voorgelegd aan een groot aantal organisaties die adviezen hebben uitgebracht. Het kabinet heeft daarmee de conceptversie „op belangrijke punten kunnen aanscherpen en verbeteren”, aldus de Jonge, mede namens zijn collega’s Ferd Grapperhaus (Justitie) en Kajsa Ollongren (Binnenlandse Zaken).

            De Jonge schrijft dat de Raad van State deze week advies uitbrengt over de Tijdelijke wet Covid-19, zoals die officieel heet. Volgens een woordvoerder van de Raad is dat advies woensdag al vastgesteld en ligt dat nu bij het ministerie.
            
            Het voorstel zal zo spoedig mogelijk aan het parlement worden aangeboden, aldus De Jonge. Beide Kamers bepalen zelf hun agenda. Het zomerreces begint over twee weken.            
            </p>
            
            
            
            
          </div>

          <hr>
        </div>

        <div class="w3-container" style=" width: 100%; margin: 0; left: 0;  background-color: #3d3d3d; padding-top: 10px;">
          <div class="selfie-container">
            
            
            <p><img src="/static/Selfies/Website_Yash.jpeg" class="selfie-L" alt="Louise" style="height: 90%; margin-left: auto; border-radius: 10px; float: left;">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 50px;">Yash</h1>
            Volgens De Jonge heeft het kabinet hard gewerkt aan het wetsvoorstel. Het is voorgelegd aan een groot aantal organisaties die adviezen hebben uitgebracht. Het kabinet heeft daarmee de conceptversie „op belangrijke punten kunnen aanscherpen en verbeteren”, aldus de Jonge, mede namens zijn collega’s Ferd Grapperhaus (Justitie) en Kajsa Ollongren (Binnenlandse Zaken).

            De Jonge schrijft dat de Raad van State deze week advies uitbrengt over de Tijdelijke wet Covid-19, zoals die officieel heet. Volgens een woordvoerder van de Raad is dat advies woensdag al vastgesteld en ligt dat nu bij het ministerie.
            
            Het voorstel zal zo spoedig mogelijk aan het parlement worden aangeboden, aldus De Jonge. Beide Kamers bepalen zelf hun agenda. Het zomerreces begint over twee weken.            
            </p>
            
          </div>
          <hr>
        </div>
          <div class="w3-container" style="padding: 10px 10px; width: 100%; margin:0 ; left: 0; background-color: #3d3d3d;">
          <div class="selfie-container">
            
            <p class="about-description"><img src="/static/Selfies/Website_Tomas.jpeg" class="selfie-L" alt="Daan" style="height: 95%; margin-right: auto; border-radius: 10px; float: right;">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 50px;">Tomas</h1>
            Volgens De Jonge heeft het kabinet hard gewerkt aan het wetsvoorstel. Het is voorgelegd aan een groot aantal organisaties die adviezen hebben uitgebracht. Het kabinet heeft daarmee de conceptversie „op belangrijke punten kunnen aanscherpen en verbeteren”, aldus de Jonge, mede namens zijn collega’s Ferd Grapperhaus (Justitie) en Kajsa Ollongren (Binnenlandse Zaken).

            De Jonge schrijft dat de Raad van State deze week advies uitbrengt over de Tijdelijke wet Covid-19, zoals die officieel heet. Volgens een woordvoerder van de Raad is dat advies woensdag al vastgesteld en ligt dat nu bij het ministerie.
            
            Het voorstel zal zo spoedig mogelijk aan het parlement worden aangeboden, aldus De Jonge. Beide Kamers bepalen zelf hun agenda. Het zomerreces begint over twee weken.            
            </p>
            
            
            
            
          </div>

          <hr>
        </div>

        <div class="w3-container" style=" width: 100%; margin: 0; left: 0;  background-color: #3d3d3d; padding-top: 10px;">
          <div class="selfie-container">
            
            
            <p><img src="/static/Selfies/Website_Alex.jpeg" class="selfie-L" alt="Louise" style="height: 90%; margin-left: auto; border-radius: 10px; float: left;">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 50px;">Alex</h1>
            Volgens De Jonge heeft het kabinet hard gewerkt aan het wetsvoorstel. Het is voorgelegd aan een groot aantal organisaties die adviezen hebben uitgebracht. Het kabinet heeft daarmee de conceptversie „op belangrijke punten kunnen aanscherpen en verbeteren”, aldus de Jonge, mede namens zijn collega’s Ferd Grapperhaus (Justitie) en Kajsa Ollongren (Binnenlandse Zaken).

            De Jonge schrijft dat de Raad van State deze week advies uitbrengt over de Tijdelijke wet Covid-19, zoals die officieel heet. Volgens een woordvoerder van de Raad is dat advies woensdag al vastgesteld en ligt dat nu bij het ministerie.
            
            Het voorstel zal zo spoedig mogelijk aan het parlement worden aangeboden, aldus De Jonge. Beide Kamers bepalen zelf hun agenda. Het zomerreces begint over twee weken.            
            </p>
            
          </div>
          <hr>
        </div>
          <div class="w3-container" style="padding: 10px 10px; width: 100%; margin:0 ; left: 0; background-color: #3d3d3d;">
          <div class="selfie-container">
            
            <p class="about-description"><img src="/static/Selfies/Website_Stijn.jpeg" class="selfie-L" alt="Daan" style="height: 95%; margin-right: auto; border-radius: 10px; float: right;">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 50px;">Stijn</h1>
            Volgens De Jonge heeft het kabinet hard gewerkt aan het wetsvoorstel. Het is voorgelegd aan een groot aantal organisaties die adviezen hebben uitgebracht. Het kabinet heeft daarmee de conceptversie „op belangrijke punten kunnen aanscherpen en verbeteren”, aldus de Jonge, mede namens zijn collega’s Ferd Grapperhaus (Justitie) en Kajsa Ollongren (Binnenlandse Zaken).

            De Jonge schrijft dat de Raad van State deze week advies uitbrengt over de Tijdelijke wet Covid-19, zoals die officieel heet. Volgens een woordvoerder van de Raad is dat advies woensdag al vastgesteld en ligt dat nu bij het ministerie.
            
            Het voorstel zal zo spoedig mogelijk aan het parlement worden aangeboden, aldus De Jonge. Beide Kamers bepalen zelf hun agenda. Het zomerreces begint over twee weken.            
            </p>
            
            
            
            
          </div>

          <hr>
        </div>

</body>

  
</hmtl>
{% endblock content %} 


