{% extends "base.html"%}

<html>
    <title>DBL about</title>
  {% block homepagelogo %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.css" rel='stylesheet' type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.css" rel='stylesheet' type="text/css">

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
        <!--
        <script src="https://gmousse.github.io/dataframe-js/dist/dataframe.min.js"></script>
        
        <script>
          import DataFrame from 'dataframe-js';
        </script> -->
        <title>Bokeh Scatter Plots</title>
    </head>
    <body>
      <div class="chart"> 
        {{ div | safe}}
        <script>{{script|safe}}</script>
        <style>
          .chart{
              display: block;
              margin-left: 30%;
              margin-right: 300px;
              margin-top: 5%;
              text-align: center;
              position: absolute;
          }

          </style>
      </div>

      <div class='file-upload'> 
        <form action="#" method="POST" enctype="multipart/form-data">
        <select name="user_select" multiple>
            {% for u in userdata %}
                {% if u.name in activeusersdata %}
                  <option value="{{ u.name }}" selected>{{ u.name }}</option>
                {% else %}
                  <option value="{{ u.name }}">{{ u.name }}</option>
                {% endif %}
            {% endfor %}
          </select>
          <select name="stimuli_select">
            {% for s in stimulidata %}
              {% if s.name in activestimulidata %}
                <option value="{{ s.name }}" selected>{{ s.name }}</option>
              {% else %}
                <option value="{{ s.name }}">{{ s.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <button type="submit">Choose File(s)</button>
          <span ></span>
      </form>
  </div>
</body>
</html>


  {% endblock homepagelogo %}